.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  vertical-align: top;
  object-fit: cover;

  z-index: 0;

  background: linear-gradient(
    to right,
    hsla(45, 99%, 62%, 1) 0%,
    hsla(45, 99%, 62%, 0.99) 10%,
    hsla(273, 59%, 34%, 0.95) 88%,
    hsla(273, 59%, 34%, 0.94) 100%
  );
}
